quartus_project/.qsys_edit/
quartus_project/db/
quartus_project/greybox_tmp/
quartus_project/incremental_db/
quartus_project/output_files/
quartus_project/sim/
quartus_project/simulation/
quartus_project/db/de10boy.(0).cnf.hdb
quartus_project/db/de10boy.asm.qmsg
quartus_project/db/de10boy.asm.rdb
quartus_project/db/de10boy.cmp.idb
quartus_project/db/de10boy.cmp.rdb
quartus_project/db/de10boy.eda.qmsg
quartus_project/db/de10boy.fit.qmsg
quartus_project/db/de10boy.hier_info
quartus_project/db/de10boy.hif
quartus_project/db/de10boy.map_bb.cdb
quartus_project/db/de10boy.map_bb.hdb
quartus_project/db/de10boy.map.bpm
quartus_project/db/de10boy.map.cdb
quartus_project/db/de10boy.map.hdb
quartus_project/db/de10boy.map.kpt
quartus_project/db/de10boy.map.qmsg
quartus_project/db/de10boy.map.rdb
quartus_project/db/de10boy.pre_map.hdb
quartus_project/db/de10boy.rtlv_sg_swap.cdb
quartus_project/db/de10boy.rtlv_sg.cdb
quartus_project/db/de10boy.rtlv.hdb
quartus_project/db/de10boy.smart_action.txt
quartus_project/db/de10boy.sta.qmsg
quartus_project/db/de10boy.sta.rdb
quartus_project/db/de10boy.tis_db_list.ddb
quartus_project/db/de10boy.tiscmp.fast_1200mv_0c.ddb
quartus_project/db/de10boy.tiscmp.slow_1200mv_0c.ddb
quartus_project/db/de10boy.tiscmp.slow_1200mv_85c.ddb
quartus_project/db/de10boy.tmw_info
quartus_project/db/prev_cmp_de10boy.qmsg
quartus_project/incremental_db/compiled_partitions/de10boy.root_partition.cmp.cdb
quartus_project/incremental_db/compiled_partitions/de10boy.root_partition.cmp.hdb
quartus_project/incremental_db/compiled_partitions/de10boy.root_partition.map.cdb
quartus_project/incremental_db/compiled_partitions/de10boy.root_partition.map.dpi
quartus_project/incremental_db/compiled_partitions/de10boy.root_partition.map.hbdb.cdb
quartus_project/incremental_db/compiled_partitions/de10boy.root_partition.map.hbdb.hdb
quartus_project/incremental_db/compiled_partitions/de10boy.root_partition.map.hdb
quartus_project/incremental_db/compiled_partitions/de10boy.root_partition.map.kpt
quartus_project/incremental_db/compiled_partitions/de10boy.rrp.hdb
quartus_project/output_files/de10boy.asm.rpt
quartus_project/output_files/de10boy.done
quartus_project/output_files/de10boy.eda.rpt
quartus_project/output_files/de10boy.fit.rpt
quartus_project/output_files/de10boy.fit.summary
quartus_project/output_files/de10boy.flow.rpt
quartus_project/output_files/de10boy.map.rpt
quartus_project/output_files/de10boy.map.summary
quartus_project/output_files/de10boy.sof
quartus_project/output_files/de10boy.sta.rpt
quartus_project/simulation/modelsim/de10boy_modelsim.xrf
quartus_project/simulation/modelsim/de10boy.svo
quartus_project/de10boy_nativelink_simulation.rpt
quartus_project/de10boy_nativelink_simulation.rpt
quartus_project/de10boy.cr.mti
quartus_project/de10boy.qws
